//colors
$primary: #14213d;
$secondary: #1e325c;
$secondary-light: #375ba9;
$accent: #fca311;
$light: #e5e5e5;
$dark: #19284d;
$low: #40c9a2;
$medium: #e7ca74;
$high: #a23e48;
$light-grey: #b0b9bf;
$dark-grey: #6e7d87;
$accept: #54d534;
$accept-alpha: rgba(84, 213, 52, 0.2);

$filters-width: 30rem;
$filters-margin: 1rem;
